#btn-burger {
    display: none;
}

@media screen and (max-width:391px) {

/* nav & btn burger */

#btn-burger {
    display: block;
    position: fixed;
    font-size: 2.8em;
    color: v$black;
    background-color: $greyBlue;
    z-index: 10000;
    padding: 0.5rem;
    width: 42px;
    top: 0;
    left: 0;
}

.main-nav-burger {
    display: none;

    .visible {
    display: block;
    position: fixed;
    width: 390px;
    height: 460px;
    z-index: 9998;
    background-color: $greyBlue;
    }
    }
}